span.multiselect-native-select {
    position: relative
}

span.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 10px
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container > li {
    padding: 0
}

.multiselect-container > li > a.multiselect-all label {
    font-weight: 700
}

.multiselect-container > li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    width:100% !important;
    font-weight: 700
}

.multiselect-container > li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container > li > a {
    padding: 0
}

    .multiselect-container > li > a > label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 3px 0 3px 30px; 
        width:100% !important;
    }

.multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
    margin: 0
}

.multiselect-container > li > a > label > input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}
.multiselect{
    background-color:lightslategray !important;
}
.multiselect-container{
    width:295px !important;
    top:50px !important;
}
.icon-usuario-margin-top {
    margin-top: 14px !important;
}
.alinhamento-form-login-register {
    margin-left: 16% !important;
}
.alinhamento-form-cadastro {
    margin-left: 14% !important;
}
.td-invisivel{
    display:none;
}
.alinhamento-grid-index {
    margin-right: 15px !important;
    margin-left: 5px !important;
}
.main-panel .data-grid {
    width:100%!important;
}
.content .pagina-index{
    margin-top:0px!important;
    padding-top:0px!important;
}
.actionButton {
    width:5%!important;
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.default-content-data-table {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#tableCategoria_wrapper .row {
    width: 100% !important;
}
#tableCategoria_length select{
    margin-left:20px!important;
}
#tableCategoria_wrapper .row .nome {
    width: 25%!important;
}
#tableCategoria_wrapper .row .descricao {
    width: 45%!important;
}
#tableCategoria_wrapper .row .ativo{
    width:5%!important;
}
.card-menu-link{
    color:white!important;
    text-decoration:none!important;
}
.alinhamento-card-menu {
    margin: 0 auto!important;
    float: none!important;
}
.editarclass {
    padding-top: 5px !important;
    margin-left: 2px !important;
    padding-bottom: 0px !important;
}
.detalheclass {
    padding-top: 5px !important;
    margin-left: 2px !important;
    padding-bottom: 0px !important;
}
.action-editar {
    cursor: pointer;
}
.action-detalhe {
    cursor: pointer;
}
.action-remover {
    cursor: pointer;
}
.coluna-grid-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.img-retorno {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}
.fixed-plugin{
    top:100px!important;
}
#tableClassificacao_wrapper .row {
    width: 100% !important;
}

#tableClassificacao_length select {
    margin-left: 20px !important;
}

#tableClassificacao_wrapper .row .nome {
    width: 25% !important;
}

#tableClassificacao_wrapper .row .descricao {
    width: 45% !important;
}

#tableClassificacao_wrapper .row .ativo {
    width: 5% !important;
}

#tableMaterial_wrapper .row {
    width: 100% !important;
}

#tableMaterial_length select {
    margin-left: 20px !important;
}

#tableMaterial_wrapper .row .nome {
    width: 25% !important;
}

#tableMaterial_wrapper .row .descricao {
    width: 45% !important;
}

#tableMaterial_wrapper .row .ativo {
    width: 5% !important;
}
#tableEmpresa_wrapper .row {
    width: 100% !important;
}

#tableEmpresa_length select {
    margin-left: 20px !important;
}
#tableEmpresa_wrapper .row .cnpjCpf {
    width: 10% !important;
}
#tableEmpresa_wrapper .row .razaoSocial {
    width: 30% !important;
}

#tableEmpresa_wrapper .row .nomeFantasia {
    width: 45% !important;
}

#tableEmpresa_wrapper .row .ativo {
    width: 5% !important;
}

#tableFuncao_wrapper .row {
    width: 100% !important;
}

#tableFuncao_length select {
    margin-left: 20px !important;
}

#tableFuncao_wrapper .row .name {
    width: 60% !important;
}

#tableFuncao_wrapper .row .id {
    width: 30% !important;
}

#tableFuncao_wrapper .row .ativo {
    width: 5% !important;
}

#tableFuncaoReivindicacao_wrapper .row {
    width: 100% !important;
}

#tableFuncaoReivindicacao_length select {
    margin-left: 20px !important;
}

#tableFuncaoReivindicacao_wrapper .row .reivindicacao {
    width: 25% !important;
}

#tableFuncaoReivindicacao_wrapper .row .valor {
    width: 50% !important;
}

#tableFuncaoReivindicacao_wrapper .row .ativo {
    width: 5% !important;
}

#tableUsuario_wrapper .row {
    width: 100% !important;
}

#tableUsuario_length select {
    margin-left: 20px !important;
}

#tableUsuario_wrapper .row .userName {
    width: 20% !important;
}

#tableUsuario_wrapper .row .nome {
    width: 30% !important;
}
#tableUsuario_wrapper .row .email {
    width: 30% !important;
}
#tableUsuario_wrapper .row .ativo {
    width: 5% !important;
}
