.icon-usuario-margin-top {
    margin-top: 14px !important;
}
.alinhamento-form-login-register {
    margin-left: 16% !important;
}
.alinhamento-form-cadastro {
    margin-left: 14% !important;
}
.td-invisivel{
    display:none;
}
.alinhamento-grid-index {
    margin-right: 15px !important;
    margin-left: 5px !important;
}
.main-panel .data-grid {
    width:100%!important;
}
.content .pagina-index{
    margin-top:0px!important;
    padding-top:0px!important;
}
.actionButton {
    width:5%!important;
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.default-content-data-table {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#tableCategoria_wrapper .row {
    width: 100% !important;
}
#tableCategoria_length select{
    margin-left:20px!important;
}
#tableCategoria_wrapper .row .nome {
    width: 25%!important;
}
#tableCategoria_wrapper .row .descricao {
    width: 45%!important;
}
#tableCategoria_wrapper .row .ativo{
    width:5%!important;
}
.card-menu-link{
    color:white!important;
    text-decoration:none!important;
}
.alinhamento-card-menu {
    margin: 0 auto!important;
    float: none!important;
}
.editarclass {
    padding-top: 5px !important;
    margin-left: 2px !important;
    padding-bottom: 0px !important;
}
.detalheclass {
    padding-top: 5px !important;
    margin-left: 2px !important;
    padding-bottom: 0px !important;
}
.action-editar {
    cursor: pointer;
}
.action-detalhe {
    cursor: pointer;
}
.coluna-grid-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.img-retorno {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}
.fixed-plugin{
    top:100px!important;
}
#tableClassificacao_wrapper .row {
    width: 100% !important;
}

#tableClassificacao_length select {
    margin-left: 20px !important;
}

#tableClassificacao_wrapper .row .nome {
    width: 25% !important;
}

#tableClassificacao_wrapper .row .descricao {
    width: 45% !important;
}

#tableClassificacao_wrapper .row .ativo {
    width: 5% !important;
}

#tableMaterial_wrapper .row {
    width: 100% !important;
}

#tableMaterial_length select {
    margin-left: 20px !important;
}

#tableMaterial_wrapper .row .nome {
    width: 25% !important;
}

#tableMaterial_wrapper .row .descricao {
    width: 45% !important;
}

#tableMaterial_wrapper .row .ativo {
    width: 5% !important;
}
#tableEmpresa_wrapper .row {
    width: 100% !important;
}

#tableEmpresa_length select {
    margin-left: 20px !important;
}
#tableEmpresa_wrapper .row .cnpjCpf {
    width: 10% !important;
}
#tableEmpresa_wrapper .row .razaoSocial {
    width: 30% !important;
}

#tableEmpresa_wrapper .row .nomeFantasia {
    width: 45% !important;
}

#tableEmpresa_wrapper .row .ativo {
    width: 5% !important;
}
