@model XServicoOnline.ViewModels.UsuarioFuncaoViewModel

@{
    ViewData["Title"] = "Gerenciar Usuário";

}
<input type="hidden" id="_fucoesId" value="@Model.FuncoesSelecionadas" />
<link href="~/assets/css/select-pure/select-pure.css" rel="stylesheet" />
<div class="wrapper ">

    <div class="main-panel">

        <div class="content">
            <div class="container-fluid alinhamento-form-login-register">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Editar Usuário</h4>
                                <p class="card-category">Preencha os campos</p>
                            </div>
                            <div class="card-body">
                                <form asp-action="GerenciarUsuario" method="post" id="formGerenciar" role="form">
                                    <input type="hidden" asp-for="Usuario.Id" />
                                    <input type="hidden" asp-for="Usuario.UserName" />
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="material-icons icon-usuario-margin-top">person</i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label for="Nome" class="bmd-label-floating">Nome</label>
                                                <label asp-for="Usuario.UserName" type="text" class="form-control">@Model.Usuario.Nome</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Selecione a(s)Função(ões)</label>
                                                <select asp-for="FuncoesId" asp-items="Model.Funcoes" class="multiselect-ui"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Selecione a(s)Função(ões)</label>
                                                <span class="funcoes"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <partial name="_BotaoSalvarRetornar" />
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.login-box -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/lib/multi-select.js"></script>
    <script src="~/assets/js/select-pure/bundle.min.js"></script>
    <script>

        $(document).ready(function () {
            $(function () {
                $('.multiselect-ui').multiselect({
                    includeSelectAllOption: true
                });
            });
            $('#buttonSalvar').click(function () {
                submitAjax('#formGerenciar', 'GerenciarUsuario');
            });
            //console.log(JSON.stringify(@ViewBag.funcoesSelectPure));
            getFuncoes();

        });
        var getFuncoes = function () {
            $.get('GetFuncoesPuroSelect', {}, function (data) {

                let builder = [];
                builder.push('[');
                $.each(data, function (index, funcao) {
                    builder.push('{');
                    builder.push('label:' + '"' + funcao.label + '",');
                    builder.push('value:' + '"' + funcao.value + '"');
                    builder.push('},');
                });
                builder.push(']');
                console.log(builder.join(""));
                var options = [
                    {
                        label: "AdministradorEmpresa", value: "AdministradorEmpresa"
                    },
                    {
                        label: "Requisitante", value: "Requisitante"
                    },
                    {
                        label: "Teste", value: "Teste"
                    },
                    {
                        label: "Administrador", value: "Administrador"
                    }
                ]

            });
        }
       
        var autocomplete = new SelectPure(".funcoes", {
            options: [
                {
                    label: "Barbina",
                    value: "ba",
                },
                {
                    label: "Bigoli",
                    value: "bg",
                },
                {
                    label: "Bucatini",
                    value: "bu",
                },
                {
                    label: "Busiate",
                    value: "bus",
                },
                {
                    label: "Capellini",
                    value: "cp",
                },
                {
                    label: "Fedelini",
                    value: "fe",
                },
                {
                    label: "Maccheroni",
                    value: "ma",
                },
                {
                    label: "Spaghetti",
                    value: "sp",
                },
            ],
            value: ["sp"],
            multiple: true,
            autocomplete: true,
            icon: "fa fa-times",
            onChange: value => { console.log(value); },
        });
    </script>
}