@model XServicoOnline.ViewModels.UsuarioFuncaoViewModel

@{
    ViewData["Title"] = "Gerenciar Usuário";

}
<input type="hidden" id="_fucoesId" value="@Model.FuncoesSelecionadas" />
<link href="~/assets/css/select-pure/select-pure.css" rel="stylesheet" />
<div class="wrapper ">

    <div class="main-panel">

        <div class="content">
            <div class="container-fluid alinhamento-form-login-register">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Editar Usuário</h4>
                                <p class="card-category">Preencha os campos</p>
                            </div>
                            <div class="card-body">
                                <form asp-action="GerenciarUsuario" method="post" id="formGerenciar" role="form">
                                    <input type="hidden" id="usuarioId" asp-for="Usuario.Id" />
                                    <input type="hidden" asp-for="Usuario.UserName" />
                                    <input type="hidden" id="funcoesIdSelecionadas" asp-for="FuncoesId" />
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="material-icons icon-usuario-margin-top">person</i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label for="Nome" class="bmd-label-floating">Nome</label>
                                                <label asp-for="Usuario.UserName" type="text" class="form-control">@Model.Usuario.Nome</label>
                                            </div>
                                        </div>

                                    </div>
                                   

                                    <div class="row">
                                        <div class="col-md-12" data-toggle="tooltip" data-placement="top" title="Clique para adiconar uma nova função para ">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Função(ões)</label>
                                                <span class="funcoes"></span>
                                            </div>
                                        </div>

                                    </div>
                                    
                                                                               
                                    <partial name="_BotaoSalvarRetornar" />
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.login-box -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/lib/multi-select.js"></script>
    <script src="~/assets/js/select-pure/bundle.min.js"></script>
    <script>

        $(document).ready(function () {
            $(function () {
                $('.multiselect-ui').multiselect({
                    includeSelectAllOption: true
                });
            });
            $('#buttonSalvar').click(function () {
                submitAjax('#formGerenciar', 'GerenciarUsuario');
            });
            //console.log(JSON.stringify(@ViewBag.funcoesSelectPure));
            //getFuncoes();
            getFuncoesSelecionadas($('#usuarioId').val());

        });
        var getFuncoes = function () {


            $.get('GetFuncoesPuroSelect', {}, function (data) {

                var templateBuilder = [];
                templateBuilder.push('[');
                $.each(data, function (index, funcao) {
                    templateBuilder.push('{');
                    templateBuilder.push('"label":"' + funcao.label + '",');
                    templateBuilder.push('"value":"' + funcao.value + '"');
                    templateBuilder.push('},');
                   
                });
                templateBuilder.push(']');
                jsonIntervalosNumeros = JSON.parse(templateBuilder.join("").replace('},]', '}]'));
                return jsonIntervalosNumeros;
               
            });
        }

        var getFuncoesSelecionadas = function (id) {
            let jsonFuncoes = '';
            let jsonFuncoesSelecionadas = [];

            $.get('GetFuncoesPuroSelectDoUsuario', { id: id }, function (data) {

                var templateBuilder = [];
                $.each(data, function (index, funcao) {

                    templateBuilder.push(funcao.value);
                });
                jsonFuncoesSelecionadas = templateBuilder;
                templateBuilder = [];

                $.get('GetFuncoesPuroSelect', {}, function (data) {

                    var templateBuilder = [];
                    templateBuilder.push('[');
                    $.each(data, function (index, funcao) {
                        templateBuilder.push('{');
                        templateBuilder.push('"label":"' + funcao.label + '",');
                        templateBuilder.push('"value":"' + funcao.value + '"');
                        templateBuilder.push('},');

                    });
                    templateBuilder.push(']');
                    jsonFuncoes = JSON.parse(templateBuilder.join("").replace('},]', '}]'));
                    templateBuilder = [];

                    if (setFuncoes(jsonFuncoes, jsonFuncoesSelecionadas))
                        $('.funcao-remover').text('delete');
                });
            });
        }
        var setFuncoes = function (options,values) {
            let autocomplete = new SelectPure(".funcoes", {
                options: options,
                value: values,//['Teste','Requisitante'],
                multiple: true,
                icon: "material-icons funcao-remover",
               onChange: value => {
                    console.log(value);
                    $('.funcao-remover').text('delete');
                    $('#funcoesIdSelecionadas').append('');

                    $('#funcoesIdSelecionadas').val(value);
                },
            
            });
            return true;
        }
    </script>
}