@model XServicoOnline.Models.Usuario

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<div class="wrapper ">

    <div class="main-panel">

        <div class="content">
            <div class="container-fluid alinhamento-form-login-register">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Novo Usuário</h4>
                                <p class="card-category">Preencha os campos</p>
                            </div>
                            <div class="card-body">
                                <form asp-action="Register" method="post" id="formRegister" role="form">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="material-icons icon-usuario-margin-top">person</i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label for="Nome" class="bmd-label-floating">Nome</label>
                                                <input asp-for="Nome" type="text" class="form-control">
                                                <span asp-validation-for="Nome" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="material-icons icon-usuario-margin-top">email</i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Email</label>
                                                <input asp-for="Email" type="email" class="form-control">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                  
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="material-icons icon-usuario-margin-top">lock</i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Senha</label>
                                                <input asp-for="PasswordHash" type="password" class="form-control">
                                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="material-icons icon-usuario-margin-top">check</i>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Confirma senha</label>
                                                <input asp-for="PasswordHashCorfirmed" type="password" class="form-control">
                                                <span asp-validation-for="PasswordHashCorfirmed" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.login-box -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}