<div class="wrapper">

    <div class="main-panel data-grid">
        <div class="content pagina-index">
            <div class="container-fluid alinhamento-grid-index">
                <div class="row">

                    <div class="col-md-12">
                        <a asp-controller="Account" asp-action="CreateUsuario" class="btn btn-primary btn-round">Novo</a>
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Usuário</h4>
                                <p class="card-category">Usuários cadastrados</p>

                            </div>

                            <div class="card-body">
                                <div class="table-responsive row-grid">
                                    <table id="tableUsuario" class="table table-bordered border-table">
                                        <thead>
                                            <tr>
                                                <th class="border-table-tr userName" data-sortable="true">Usuário</th>
                                                <th class="border-table-tr nome" data-sortable="true">Nome</th>
                                                <th class="border-table-tr email" data-sortable="true">Email</th>
                                                <th class="border-table-tr td-invisivel" data-sortable="false"></th>
                                                <th class="border-table-tr actionButton" data-sortable="false"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="body-usuario" data-toggle="table"></tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                        <partial name="_PrincipalPartial" />
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<!-- /.login-box -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTableReferenciaJS");}
    <script src="~/assets/js/account/UsuarioDataTable.js"></script>
    <script>
        $(document).ready(function () {
            var usuarioDataTable = new UsuarioDataTable();
            usuarioDataTable.Load();
            $('.active').removeClass();
            $('.material-link').addClass('active');
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        });
    </script>

}

