<button type="button" id="buttonSalvar" class="btn btn-primary pull-right">Salvar</button>
<a class="btn btn-dark pull-right pagina-anterior">
    Voltar
    <i class="material-icons img-retorno">keyboard_return</i>
</a>
<div class="clearfix"></div>