
    <div class="container">
        <div class="row alinhamento-card-menu">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <a class="nav-link" asp-controller="Material" asp-action="CategoriaIndex">
                            <div class="card-icon card-menu-link">
                                <i class="material-icons">launch</i>
                            </div>
                            <p class="card-category">Categoria</p>
                            <h3 class="card-title">
                                250
                                <small>Registros</small>
                            </h3>
                        </a>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" href="#">
                            <div class="stats">
                                <i class="material-icons">arrow_right_alt</i>Clique para acessar Categoria de materiais.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <a class="nav-link" href="#">
                            <div class="card-icon card-menu-link">
                                <i class="material-icons">launch</i>
                            </div>
                            <p class="card-category">Classificação</p>
                            <h3 class="card-title">
                                50
                                <small>Registros</small>
                            </h3>
                        </a>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" href="#">
                            <div class="stats">
                                <i class="material-icons">arrow_right_alt</i>Clique para acessar Categoria de materiais.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <a class="nav-link" href="#">
                            <div class="card-icon card-menu-link">
                                <i class="material-icons">launch</i>
                            </div>
                            <p class="card-category">Item Material</p>
                            <h3 class="card-title">
                                2050
                                <small>Registros</small>
                            </h3>
                        </a>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" href="#">
                            <div class="stats">
                                <i class="material-icons">arrow_right_alt</i>Clique para acessar Categoria de materiais.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

